<% if data.points.any? %>
  <%- max_point = data.points.min { |p| p.y } %>
  <div
    class="graph__label graph__label--<%= type %>"
    style="<%= "left:#{max_point.x - 50 > 0 ? max_point.x - 50 : max_point.x}px;top:#{max_point.y - 18}px" %>"
  >Макс. <%= data.max %></div>
<% end %>
