<% if data.points.any? %>
  <%- max_point = data.points.min { |a, b| a.y <=> b.y } %>
  <div
    class="graph__label graph__label--<%= type %>"
    style="<%= "left:#{max_point.x - Graph.base * 0.1}px;top: #{max_point.y - 1.8 * Graph.base}px" %>"
  >Макс. <%= data.max %></div>
<% end %>
