<%- min = type == 'immune_status' ? data.points.min { |p| p.y } : data.points.max { |p| p.y } %>
<div
  class="graph__label graph__label--<%= type %>"
  style="<%= "left:#{min.x - 50 > 0 ? min.x - 50 : min.x}px;top:#{min.y - 18}px" %>"
>Макс. <%= data.max %></div>
