.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  h1.h2 New #{model_name}

= render "admin/#{model_name.pluralize}/form", model_name.to_sym => item
