@import 'normalize';
@import 'proxima_nova';

$green: #1FDCC5;
$black: #020202;
$gray: #B9B8B8;
$light-gray: #E6E6E6;

body, html {
  margin: 0;
}
.graph {
  font-family: 'ProximaNova', serif;

  position: relative;
  background: white;
  &__body {
    position: relative;
  }
  &__body-inner {
    position: relative;
  }

  &__result {
    position: absolute;
    top: 0.6rem;

    &-title {
      font-size: 2rem;
      margin: 0;
      font-weight: normal;
      white-space: nowrap;
    }
    &-value {
      font-weight: normal;
      font-size: 6rem;
      line-height: 5.6rem;
    }
    &--immune-status {
      color: $green;
      left: 0.6rem;
    }
    &--viral-load {
      left: 19.6rem;
      min-width: 21.0rem;
    }
  }
  &__text {
    font-size: 1.5rem;
    line-height: 0;
  }
  &__date {
    font-size: 2rem;
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
    white-space: nowrap;
  }
  &__label {
    position: absolute;
    white-space: nowrap;
    font-size: 1.5rem;
    z-index: 2;
  }
  &__label--immune_status {
    color: #1FDCC5;
  }
  &__interval {
    position: absolute;
    width: 100%;
    background: rgba(0, 190, 146, 0.1);
  }
  &__year {
    position: absolute;
    bottom: 0;
    color: $gray;
    font-size: 1.5rem;

    &-line {
      position: absolute;
      border-left: 0.1rem solid $light-gray;
      bottom: 0;
    }
    &-title {
      position: relative;
      left: 0.4rem;
    }
  }
}
