$green: #00BE92;
$black: #020202;

@font-face {
  font-family: 'ProximaNova';
  src: asset-url('proxima_nova.eot');
  src: asset-url('proxima_nova.eot?#iefix') format('embedded-opentype'),
       asset-url('proxima_nova.woff2') format('woff2'),
       asset-url('proxima_nova.woff') format('woff'),
       asset-url('proxima_nova.ttf') format('truetype'),
       asset-url('proxima_nova.svg#proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 600px;
  height: 400px;
  margin: 0;
}
.graph {
  font-family: 'ProximaNova', sans-serif;

  position: relative;
  width: 600px;
  height: 400px;
  background: white;
  &__header {
    height: 100px;
  }

  &__body {
    position: relative;
    height: 300px;
  }

  &__result {
    position: absolute;
    top: 6px;

    &-title {
      font-size: 20px;
      margin: 0;
      font-weight: normal;
    }
    &-value {
      font-weight: normal;
      font-size: 60px;
      line-height: 56px;
    }
    &--immune-status {
      color: $green;
      left: 6px;
    }
    &--viral-load {
      left: 216px;
      min-width: 210px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 0;
  }
  &__date {
    font-size: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
  }
  &__chartbox {
    width: 600px;
    height: 400px;
  }

  &__label {
    position: absolute;
    white-space: nowrap;
  }

  &__label--immune_status {
    color: #00BE92;
  }
  &__interval {
    position: absolute;
    width: 100%;
    background: rgba(0, 190, 146, 0.1);
  }
}
